name: "Docs Check"
on:
  push:
    branches:
      - master
      - main
  pull_request:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/nix-installer-action@main 
      - uses: DeterminateSystems/magic-nix-cache-action@main 
      - run: nix -L flake check 
